			<div id="users" class="row-liquid">
				<div class="row" ng-controller="UserListController">
					<div class="col-md-2 scrollable">
						<p/>
						<ul class="nav nav-pills nav-stacked">
                            <li><a ng-click="goto('/adminCookbooks')">Cookbooks</a></li>
                            <li><a ng-click="goto('/adminFoodCategories')">Food Categories</a></li>
                            <li><a ng-click="goto('/adminMeals')">Meals</a></li>
                            <li><a class="active" ng-click="goto('/adminUsers')">Users</a></li>
						</ul>
					</div>
					<div class="col-md-10 scrollable">
						<p>
						<!-- Page Title -->
						<div class="page-header">Users</div>
						<p/>
			
						<!-- Jumbotron Example -->
						<div class="jumbotron">
							<p class="jumbotron">This page allows you to add, update, and delete users.  This controls who can login to the system.</p>
						</div>
			
						<p/>&nbsp;<p/>
						<button type="button" class="btn btn-default" ng-click="goto('/adminNewUser')">New User</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-default" ng-click="removeSelected()">Delete</button>
						<p/>	
						<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading">User List</div>
							<table width="100%">
								<tr>
									<th width="40px"><input id="selectAll" type="checkbox" ng-model="allSelected" ng-change="selectAll()"/></th> 
									<th>Login</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
								</tr>
								
								<tr ng-repeat="user in userList|orderBy:'username'" ng-class-even="'highlight'">
									<td><input id="{{user.user_pk}}" name="listselect" type="checkbox" ng-model="user.selected"/></td>
									<td><a ng-click="edit(user.user_pk)">{{user.username}}</a></td>
                                    <td>{{user.fname}}</td>
                                    <td>{{user.lname}}</td>
								</tr>
							</table>					
						</div>					
					</div>			
				</div>
			</div>            		
