			<div id="cookbooks" class="row-liquid">
				<div class="row" ng-controller="CookbookListController">
					<div class="col-md-2 scrollable">
						<p/>
						<ul class="nav nav-pills nav-stacked">
                            <li><a class="active" ng-click="goto('/adminCookbooks')">Cookbooks</a></li>
                            <li><a ng-click="goto('/adminFoodCategories')">Food Categories</a></li>
                            <li><a ng-click="goto('/adminMeals')">Meals</a></li>
                            <li><a ng-click="goto('/adminUsers')">Users</a></li>
						</ul>
					</div>
					<div class="col-md-10 scrollable">
						<p>
						<!-- Page Title -->
						<div class="page-header">Cookbooks</div>
						<p/>
			
						<!-- Jumbotron Example -->
						<div class="jumbotron">
							<p class="jumbotron">This page allows you to add, update, and delete cookbooks.  Each recipe has an associated cookbook which is the source for the recipe.</p>
						</div>
			
						<p/>&nbsp;<p/>
						<button type="button" class="btn btn-default" ng-click="goto('/adminNewCookbook')">New Cookbook</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-default" ng-click="removeSelected()">Delete</button>
						<p/>	
						<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading">Cookbook List</div>
							<table width="100%">
								<tr>
									<th width="40px"><input id="selectAll" type="checkbox" ng-model="allSelected" ng-change="selectAll()"/></th> 
									<th>Cookbook Name</th>
								</tr>
								
								<tr ng-repeat="cookbook in cookbookList|orderBy:'name'" ng-class-even="'highlight'">
									<td><input id="{{cookbook.cookbooks_pk}}" name="listselect" type="checkbox" ng-model="cookbook.selected"/></td> 
									<td><a ng-click="edit(cookbook.cookbooks_pk)">{{cookbook.name}}</a></td> 
								</tr>
							</table>					
						</div>					
					</div>			
				</div>
				<script src="js/app-cookbooks.js"></script>
			</div>            		
