<!DOCTYPE html>
<html ng-app="main">
	<head>
		<meta charset=”utf-8”>		 
	    <title>Shoemake Management & Chronicles</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet"/>
		<link href="css/theme1.css" rel="stylesheet"/>
        <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-sanitize.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-resource.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-route.min.js"></script>
<!--
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
-->

        <script src="js/application.js"></script>
        <script src="js/app-main.js"></script>
        <script src="js/app-login.js"></script>
        <script src="js/app-cookbooks.js"></script>
        <script src="js/app-food-categories.js"></script>
        <script src="js/app-meals.js"></script>
        <script src="js/app-recipes.js"></script>
        <script src="js/app-users.js"></script>

        <!--		<meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
	</head>
<!--	<body ng-controllers="CookbookListController"> -->
	<body class="{{bodyClass}}" ng-controller="AppController">
        <div id="main">
            <div id="header" class="container header" style={{headerDisplay}}>
                <div class="row-liquid">
                    <!-- Nav Bar -->
                    <div id="headContainer" class="container">
                        <ul class="nav nav-tabs">
<!--
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Family</a></li>
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">House</a></li>
-->
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" ng-click="goto('/recipesByLetter/A')">Recipes</a></li>
<!--
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Finances</a></li>
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Cars</a></li>
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Spiritual</a></li>
                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Fitness</a></li>
	    					<li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Fun</a></li>
		    				<li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Vacation</a></li>
			    			<li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Pictures</a></li>
				    		<li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Tech</a></li>
					    	<li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#">Extras</a></li>
-->
						    <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" ng-click="goto('/adminCookbooks')">Admin</a></li>
                            <li><a class="mainTabs" ng-click="logout()">Logout</a></li>
<!--                            <li><a class="mainTabs" onclick="setLinkToActive(this, 'mainTabs');" href="#login">Logout</a></li>   -->
    					</ul>

	    				<!-- Breadcrumbs -->
		    			<p/>
                        <ol class="breadcrumb">
                            <li>Last page: {{lastPage}}  Body class: {{bodyClass}}</li>
                        </ol>
                        <p>
                        &nbsp;
                        </p>

                    </div>
	    		</div>
		    </div>
    		<!-- MAIN CONTENT AND INJECTED VIEWS -->
            <div id="contentArea" class="container scrollable contentArea">
                <p/>
<!--                <div id="alertWrapper"> -->
                    <div id="alertHome"></div>
<!--                </div> -->

                <!-- angular templating -->
			    <!-- this is where content will be injected -->
    			{{$route.current.template}}
	    		<div ng-view style="height: auto;"></div>
		    </div>
        </div>
        <div id="footer" class="container footer">
  		    {{statusBarText}}
		</div>            		

		<!-- Bootstrap -->
<!--		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>  -->
       		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>