            <div class="row" ng-controller="LoginController">
                <div class="col-md-3">&nbsp;
                </div>
                <div class="col-md-6">
<!--
                    <p>&nbsp;</p>
                    <p>
                    <div id="wrapper">
                        <div id="loginAlert"></div>
                    </div>
                    </p>
-->
                    <p>&nbsp;</p>
                    <!-- Login Page -->
                    <div class="jumbotron">
                        <h1 class="jumbotron"><b>Shoemake Home Management</b></h1>
                        <p>&nbsp;</p>
                        <h3 class="jumbotron">My Login</h3>
                        <p class="jumbotron">Please enter your username and password and click the "Login" button.</p>
                        <p>&nbsp;</p>
                        <table>
                            <tr>
                                <td width="130px">Username:</td>
                                <td><input id="username" ng-model="username" type="text" style="width: 350px;"/></td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td><input id="password" ng-model="password" type="password" style="width: 350px;"/></td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                        <a href="#" class="btn btn-large btn-default" ng-click="login()">Login</a>
                    </div>
                </div>
                <div class="col-md-3">&nbsp;
                </div>
            </div>
