			<div id="recipesByLetter" class="row-liquid">
				<div class="row" ng-controller="AllRecipesController">
					<div class="col-md-12 scrollable">
						<p>
						<!-- Page Title -->
						<div class="page-header">Recipes</div>
						<p/>
			
						<!-- Jumbotron Example -->
						<div class="jumbotron">
							<p class="jumbotron">This page allows you to see the entire list of recipes. To edit a recipe, click the recipe name below.</p>
						</div>
			
						<p/>&nbsp;<p/>

                        <button type="button" class="btn btn-default" ng-click="goto('/recipesByLetter/A')">By Letter</button>
						&nbsp;&nbsp;
<!--
                        <button type="button" class="btn btn-default" ng-click="goto('/recipesDetailed')">Show Details</button>
						&nbsp;&nbsp;
-->
                        <button type="button" class="btn btn-default" ng-click="goto('/recipesNew')">New Recipe</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" ng-click="goto('/recipesNewTest')">New Recipe To Try</button>

						<p/>&nbsp;<p/>
                        <div class="col-md-4">
                            <li ng-repeat="recipe in col1|orderBy:'name'">
                                <a ng-click="edit(recipe.recipes_pk)">{{recipe.name}}</a>
                            </li>
                        </div>
                        <div class="col-md-4">
                            <li ng-repeat="recipe in col2|orderBy:'name'">
                                <a ng-click="edit(recipe.recipes_pk)">{{recipe.name}}</a>
                            </li>
                        </div>
                        <div class="col-md-4">
                            <li ng-repeat="recipe in col3|orderBy:'name'">
                                <a ng-click="edit(recipe.recipes_pk)">{{recipe.name}}</a>
                            </li>
                        </div>
					</div>
				</div>
                <script src="js/app-recipes.js"></script>
			</div>            		
