angular/dist/favicon.ico
angular/dist/index.html
angular/dist/inline.bundle.js
angular/dist/inline.bundle.js.map
angular/dist/main.bundle.js
angular/dist/main.bundle.js.map
angular/dist/polyfills.bundle.js
angular/dist/polyfills.bundle.js.map
angular/dist/styles.bundle.js
angular/dist/styles.bundle.js.map
angular/dist/vendor.bundle.js
angular/dist/vendor.bundle.js.map
angular/dist/assets/css/bootstrap.css
angular/dist/assets/css/cssReset.css
angular/dist/assets/css/headroom.css
angular/dist/assets/css/layout.css
angular/dist/assets/css/theme2.0.1.css
angular/dist/assets/doc/developer-resume.docx
angular/dist/assets/doc/leadership-cover-letter.docx
angular/dist/assets/doc/manager-resume.docx
angular/dist/assets/fonts/Andika-R.ttf
angular/dist/assets/fonts/Budidaya-Italic.otf
angular/dist/assets/fonts/Budidaya-Regular.otf
angular/dist/assets/fonts/glyphicons-halflings-regular.eot
angular/dist/assets/fonts/glyphicons-halflings-regular.svg
angular/dist/assets/fonts/glyphicons-halflings-regular.ttf
angular/dist/assets/fonts/glyphicons-halflings-regular.woff
angular/dist/assets/fonts/glyphicons-halflings-regular.woff2
angular/dist/assets/fonts/helvetica-neue-59441d9427e07.ttf
angular/dist/assets/fonts/HelveticaNeueBd.ttf
angular/dist/assets/fonts/Michroma-webfont.woff
angular/dist/assets/images/crossewalk3.ico
angular/dist/assets/images/crossewalk3.png
angular/dist/assets/images/LinkedIn.png
angular/dist/assets/images/profile-picture.jpg
angular/dist/assets/images/profile-picture.png
angular/dist/assets/images/thumbnails/accurate-estimates.png
angular/dist/assets/images/thumbnails/cover-letter.png
angular/dist/assets/images/thumbnails/developer-resume.png
angular/dist/assets/images/thumbnails/improve-software-orgs.png
angular/dist/assets/images/thumbnails/leadership-antipatterns.png
angular/dist/assets/images/thumbnails/manager-resume.png
angular/dist/assets/js/back-to-top.js
angular/dist/assets/js/bootstrap.js
angular/dist/assets/js/headroom.js
angular/dist/assets/js/http-auth-interceptor.js
angular/dist/assets/js/jquery-3.2.0.js
angular/dist/assets/js/jquery-3.2.0.min.js
angular/dist/assets/js/jquery-3.2.1.min.js
angular/dist/assets/js/slidingHeader.js
temp/node/node
temp/node/npm
temp/node/npm.cmd
.idea/
target/
temp/
crossewalk.iml
