/*!
 * Adjustments to Bootstrap
 * Content Text:   #00eeee
 * Headers:        #490582
 * Jumbotron:      #c19dda
 * NavBars:        #490583
 * Tabs:           #490581
 * Buttons:        #944cc9
 * Menus:          ???
 */

/* MJS Validated  */
.navbar {
  position: relative;
  min-height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 9px;
  border: 1px solid transparent;
}

/* MJS Validated  */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.028571429;
/*  color: #00eeee;  */
	color: #111111;
	background-color: #f2e1fb;
}

/* MJS Validated  */
h1.jumbotron {
/*  line-height: 1;  */
    padding-top: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1;  
	background-color: #c19dda;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	color: #111111; 
}
/* MJS Validated  */
p.jumbotron {
    padding-top: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #c19dda;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #111111;
}
/* MJS Validated  */
div.jumbotron {
	font-size: 12px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: #ffffff;
	background-color: #c19dda;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
	padding-right: 9px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
/* MJS Validated  */
.container .jumbotron {
  border-radius: 6px;
}
/* MJS Validated  */
@media screen and (min-width: 768px) {
	h1.jumbotron {
	/*  line-height: 1;  */
		padding-top: 0px;
		padding-bottom: 9px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 1;  
		background-color: #c19dda;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 32px;
		color: #111111;  /* Seems to be ignored... */
	}
	p.jumbotron {
		padding-top: 0px;
		padding-bottom: 9px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #c19dda;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.2;
		color: #111111;
	}
	div.jumbotron {
		font-size: 12px;
		font-weight: 200;
		line-height: 2.1428571435;
		color: #ffffff;
		background-color: #c19dda;
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 9px;
		padding-right: 9px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* MJS Validated  */
.page-header {
  padding-bottom: 0px;
  margin: 0px 0 15px;
  border-bottom: 1px solid #490582;
  color: #490582;
}

/* MJS Validated  */
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	color: #111111;
	background-color: #c19dda;
	border-color: #490582;
}

/* MJS Validated  */
.nav-tabs {
	border-bottom: 1px solid #490581;
}

.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus { 
	color: #490581;
	border-color: #490581;
	border: 1px solid #490581;
}

/* MJS Validated  */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #eeeeee;
	background-color: #490581;
	border-color: #490581;
	border: 1px solid #490581;
	border-bottom-color: transparent;
	cursor: default;
}

// Buttons
/* MJS Validated  */
.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

/* MJS Validated  */
.btn-default {
	color: #ffffff;
	background-color: #490582;
}

/* MJS Validated  */
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #111111;
	background-color:  #c19dda;
}

/* MJS Validated  */
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	color: #ffffff;
	background-color: #490582;
}

/* MJS Validated  */
.btn-primary {
	color: #ffffff;
	background-color: #490582;
}

/* MJS Validated  */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #111111;
	background-color:  #c19dda;
}

/* MJS Validated  */
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	color: #ffffff;
	background-color: #490582;
}

/* MJS Validated  */
.btn-link {
	color: #428bca; 
	font-weight: normal;
	cursor: pointer;
	border-radius: 0;
}

/* MJS Validated  */
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* MJS Validated  */
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

/* MJS Validated  */
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

/* MJS Validated  */
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

/* MJS Validated  */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: #490582;
}

/* MJS Validated  */
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	color: #490582;
}

/* MJS Validated  */
.nav-pills > li.active > a .caret,
.nav-pills > li.active > a:hover .caret,
.nav-pills > li.active > a:focus .caret {
	border-top-color: #ee0000;
	border-bottom-color: #0000ee;
}

// NavBar

// ????
.navbar-default .navbar-nav > li > a {
	color: #111111;
/*  background-color: #c19dda; */
	background-color: #00ee00; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* MJS Validated  */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #111111;
	background-color: #c19dda; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* MJS Validated  */
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
	color: #ffffff;
	background-color: #490582; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

// ????
.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > a:focus {
	color: #00eeee;
	background-color: #00ee00; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #ffffff;
	color: #00ff00;
	border-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: #ffffff;
	background-color: #490582;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ee0000;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-text {
	color: #0000ee;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
	color: #0000ee;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #00ee00;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #dddddd;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #490582;	
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #490582;
	color: #00ee00;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #490582;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e7e7e7;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #00ee00;
	border-bottom-color: #ee00ee;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #490582;
	color: #00ee00;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #555555;
  	border-bottom-color: #555555;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #777777;
	border-bottom-color: #777777;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #ee0000;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
}
.navbar-default .navbar-link {
  color: #00ee00;
}
.navbar-default .navbar-link:hover {
  color: #00ee00;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #ee0000;
}
.navbar-inverse .navbar-brand {
  color: #00ee00;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #ee0000;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ee0000;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ee0000;
  background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ee0000;
  background-color: #eeee00;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #ee0000;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
  }
}
.navbar-inverse .navbar-link {
  color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}




/* MJS  ?????  */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #00ee00;
}
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #ee0000;
}
/*
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #ee0000;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ee0000;
  color: #0000ee;
  border-color: #428bca;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: #ee0000;
  border-bottom-color: #0000ee;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #ee0000;
}

