<!-- 2 groups: "Former Managers" and "Former Employees" -->
<collapsiblePanel *ngFor="let group of referrals; let i = index"
                  title="{{group.caption}}"
                  id="ref{{i+1}}"
                  collapseClass="collapse in">
  <ngb-accordion [closeOthers]="true" activeIds="pnl-{{i+1}}1" class="subsection">
    <ngb-panel *ngFor="let next of group.referrals; let j = index"
               id="pnl-{{i+1}}{{j+1}}"
               title="{{next.author}}&nbsp;-&nbsp;{{next.description}}">
      <ng-template ngbPanelContent>
        <div *ngIf="next.showExcerpts">
          <b>Excerpts:</b><br/>
          <p>
                <span  *ngFor="let snippet of next.excerpts; let k = index">
                  <span *ngIf="k == 1"><br/>&nbsp;...&nbsp;<br/></span>
                  {{snippet}}
                </span>
          </p>
          <a href="javascript:void(0)" (click)="showFull(next)">[SHOW MORE]</a>
        </div>
        <div *ngIf="! next.showExcerpts">
          <p *ngFor="let paragraph of next.referral">{{paragraph}}</p>
          <a href="javascript:void(0)"  (click)="showExcerpts(next)">[SHOW LESS]</a>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</collapsiblePanel>

