<div class="panel panel-primary section width-fill">
    <div class="panel-heading">
        <a class="accordion-toggle" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{id}}">
            {{title}}
        </a>
    </div>
    <div id="collapse-{{id}}" class="panel-collapse {{collapseclass}}">
        <div class="panel-body">
            <div ng-repeat="skillList in skills track by $index" ng-class="{left: $index == 0, right: $index == 1}">  <!-- class="left/right" -->
                <ul style="margin-bottom: 0;">
                    <li ng-repeat="skill in skillList">
                        {{skill}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
