<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset=”utf-8”>		 
	    <title>Crossewalk Software</title>

		<link rel="icon" href="assets/images/crossewalk3.ico"> 
	
		<!-- AngularJS -->
        <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-sanitize.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-resource.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-route.js"></script>
<!--
        <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-sanitize.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-resource.min.js"></script>
        <script src="http://code.angularjs.org/1.2.6/angular-route.min.js"></script>

        <script src="js/angular-route.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
-->


		<script src="app/app.module.js"></script>
		<script src="app/app.service.js"></script>
		<!-- include: "type": "js", "files": "app/shared/**/*module.js" -->		
<script src="app/shared/directives/shared-directives-module.js"></script>
		<!-- /include -->
		<!-- include: "type": "js", "files": "app/shared/**/*directive.js" -->		
<script src="app/shared/directives/collapsible-panel.directive.js"></script>
		<script src="app/shared/directives/collapsible-sub-panel-content.directive.js"></script>
		<script src="app/shared/directives/collapsible-sub-panel.directive.js"></script>
		<script src="app/shared/directives/titled-panel.directive.js"></script>
		<!-- /include -->
		<!-- include: "type": "js", "files": "app/components/**/*module.js" -->		
<script src="app/components/articles/articles-module.js"></script>
		<script src="app/components/downloads/downloads.module.js"></script>
		<script src="app/components/referrals/referrals-module.js"></script>
		<script src="app/components/resume/resume-module.js"></script>
		<!-- /include -->
		<!-- include: "type": "js", "files": "app/components/**/*controller.js" -->		
<script src="app/components/articles/articles.controller.js"></script>
		<script src="app/components/downloads/downloads.controller.js"></script>
		<script src="app/components/referrals/referrals.controller.js"></script>
		<script src="app/components/resume/resume.controller.js"></script>
		<!-- /include -->
		<!-- include: "type": "js", "files": "app/components/**/*service.js" -->		
<script src="app/components/downloads/downloads.service.js"></script>
		<!-- /include -->
		<!-- include: "type": "js", "files": "app/components/**/*directive.js" -->		

		<!-- /include -->
		<!-- include: "type": "css", "files": "**/*.css" -->
		<link href="assets/css/01-cssReset.css" rel="stylesheet" type="text/css">
		<link href="assets/css/02-bootstrap.css" rel="stylesheet" type="text/css">
		<link href="assets/css/03-headroom.css" rel="stylesheet" type="text/css">
		<link href="assets/css/theme2.0.2.css" rel="stylesheet" type="text/css">
		<!-- /include -->
		<!-- include: "type": "js", "files": "js/pre/**/*.js" -->
		<script src="js/pre/01-jquery-3.2.1.min.js"></script>
		<script src="js/pre/02-back-to-top.js"></script>
		<!-- /include -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="{{bodyClass}}" ng-controller="AppController">
		<header id="header" class="header header--fixed hide-from-print" role="banner">
			<div class="container-fluid" >

					<nav class="navbar navbar-default">
  						<div class="container-fluid">
    						<!-- Brand and toggle get grouped for better mobile display -->
        					<div class="navbar-header">
        						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        							<span class="sr-only">Toggle navigation</span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
      							</button>
								<img class="app-icon" src="assets/images/crossewalk3.png" alt="Crossewalk" style="width:32px;height:28px; vertical-align: middle;"/>
								<b class="brand__forename">Crossewalk</b>&nbsp;
								<b class="brand__surname hide-on-mobile">Software</b>
    						</div>

   							<!-- Collect the nav links, forms, and other content for toggling -->
    						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
<!--									<li class="nav"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>  -->
									<li class="nav"><a ng-click="goto('/resume')"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Resume</a></li>
									<li class="nav"><a ng-click="goto('/articles')"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Articles</a></li>
									<li class="nav"><a ng-click="goto('/downloads')"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Downloads</a></li>
									<li class="nav"><a ng-click="goto('/referrals')"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Referrals</a></li>
<!--									<li class="nav"><a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contact</a></li>  -->
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
			</div>
		</header>

		<article>

    		<!-- MAIN CONTENT AND INJECTED VIEWS -->
            <div id="contentArea" class="container-fluid contentArea">
                <p/>
                <div id="alertHome"></div>

                <!-- angular templating -->
			    <!-- this is where content will be injected -->
    			{{$route.current.template}}
	    		<div ng-view style="height: auto;"></div>
		    </div>

			<a id="back-to-top" class="btt btn btn--plain hide-from-print top-btn" href="#" id="btt">Back To Top <i class="icon icon--up"></i></a>
		</article>

		<!-- <script src="https://rawgithub.com/WickyNilliams/headroom.js/gh-pages/assets/scripts/main.js"></script>  -->

		<!-- include: "type": "js", "files": "js/post/**/*.js" -->
		<script src="js/post/application.js"></script>
		<script src="js/post/bootstrap.js"></script>
		<script src="js/post/headroom.min.js"></script>
		<script src="js/post/http-auth-interceptor.js"></script>
		<script src="js/post/slidingHeader.js"></script>
		<!-- /include -->
	</body>
</html>