			<div id="foodCategories" class="row-liquid">
				<div class="row" ng-controller="FoodCategoryListController">
					<div class="col-md-2 scrollable">
						<p/>
						<ul class="nav nav-pills nav-stacked">
                            <li><a ng-click="goto('/adminCookbooks')">Cookbooks</a></li>
                            <li><a class="active" ng-click="goto('/adminFoodCategories')">Food Categories</a></li>
                            <li><a ng-click="goto('/adminMeals')">Meals</a></li>
                            <li><a ng-click="goto('/adminUsers')">Users</a></li>
						</ul>
					</div>
					<div class="col-md-10 scrollable">
						<p>
						<!-- Page Title -->
						<div class="page-header">Food Categories</div>
						<p/>
			
						<!-- Jumbotron Example -->
						<div class="jumbotron">
							<p class="jumbotron">This page allows you to add, update, and delete food categories.  Each recipe has an associated food category used to organize the recipes.</p>
						</div>
			
						<p/>&nbsp;<p/>
						<button type="button" class="btn btn-default" ng-click="goto('/adminNewFoodCategory')">New Food Category</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-default" ng-click="removeSelected()">Delete</button>
						<p/>	
						<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading">Food Category List</div>
							<table width="100%">
								<tr>
									<th width="40px"><input id="selectAll" type="checkbox" ng-model="allSelected" ng-change="selectAll()"/></th> 
									<th>Food Category Name</th>
								</tr>
								
								<tr ng-repeat="foodCategory in foodCategoryList|orderBy:'name'" ng-class-even="'highlight'">
									<td><input id="{{foodCategory.meal_categories_pk}}" name="listselect" type="checkbox" ng-model="foodCategory.selected"/></td> 
									<td><a ng-click="edit(foodCategory.meal_categories_pk)">{{foodCategory.name}}</a></td> 
								</tr>
							</table>					
						</div>					
					</div>			
				</div>
				<script src="js/app-food-categories.js"></script>
			</div>            		
