			<div id="foodCategories" class="row-liquid">
				<div class="row">
					<div class="col-md-2 scrollable">
						<p/>
						<ul class="nav nav-pills nav-stacked">
                            <li><a ng-click="goto('/adminCookbooks')">Cookbooks</a></li>
                            <li><a ng-click="goto('/adminFoodCategories')">Food Categories</a></li>
                            <li><a class="active" ng-click="goto('/adminMeals')">Meals</a></li>
                            <li><a ng-click="goto('/adminUsers')">Users</a></li>
						</ul>
					</div>
					<div class="col-md-10 scrollable">
						<p>
						<!-- Page Title -->
						<div class="page-header">New Meal</div>
						<p/>&nbsp;<p/>

						<div class="panel panel-primary">
							<!-- Default panel contents -->
							<div class="panel-heading">Please enter the name of the meal you would like to add click "Save". To return to the previous page without making changes, click "Cancel".</div>

							<table width="100%">
								<tr>
									<td width="40px">&nbsp;</td> 
									<td width="120px">&nbsp;</td> 
									<td>&nbsp;</td> 
								</tr>
								<tr>
									<td>&nbsp;</td> 
									<td>Name:</td> 
									<td><input name="name" type="textbox" size="60" ng-model="mealToAdd.name" /></td> 
								</tr>
								<tr>
									<td>&nbsp;</td> 
									<td>&nbsp;</td> 
									<td>&nbsp;</td> 
								</tr>
							</table>					
						</div>					
						<p/>&nbsp;<p/>
						<button type="button" class="btn btn-default" ng-click="addItem()">Save</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
						<p/>	
					</div>			
				</div>            			
			</div>            		
